<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a *ngFor="let item of menuItems" mat-list-item [class.selected]="isSelectedItem(item)" (click)="getRouterLink(item)"> {{item | titlecase}} </a>
    </mat-nav-list>

    
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        style="margin-right: 5px;"
       >
        <!-- <mat-icon aria-label="Side nav toggle icon">menu</mat-icon> -->
         <!-- Use the mat-drawer-trigger directive to handle icon toggling -->
      <mat-icon *ngIf="drawer.opened" aria-label="Side nav close icon" style="margin-right: 8px;">close</mat-icon>
      <mat-icon *ngIf="!drawer.opened" aria-label="Side nav toggle icon" style="margin-right: 8px;">menu</mat-icon>

      </button>
      <span>store-admin-panel</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
